/* Navbar styles */
.navbar {
  background-color: #A3CFF2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.navContent {
  display: flex;
  align-items: center;
}

.partnerName {
  font-size: 20px;
  color: #0046A0;
  margin-left: 15px;
  font-weight: bold;
}

.partnerLogo {
  height: 40px;
  max-width: 100px;
  object-fit: contain;
}

/* Questionnaire container styles */
.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

/* Heading styles */
.heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Input styles */
.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Button styles */
.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  width: fit-content;
  margin: auto;
}

.button:hover {
  background-color: #0056b3;
}

.description {
  font-size: 14px;
  color: #888; /* Gray color */
  margin-bottom: 20px;
}

/* Center the initial page content */
.initialPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Ensures the content is vertically centered */
  text-align: center; /* Centers the text */
}

/* Set a fixed size for the logo on the initial page */
.initialLogo {
  width: 40%; /* Fix the image width to 40% of the page */
  max-width: 300px; /* Ensure it doesn't grow too large on wider screens */
  margin-bottom: 20px;
}
